* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.main_div {
  width: 100%;
  height: 100vh;
  position: relative;
  
}

.box {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: rgb(12, 134, 175);
  border-radius: 10px;
  align-items: center;
  /* display: flex; */
}

.temp {
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  /* display: flex; */
}



.inputFeild {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  color:black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  /* background: transparent; */
  outline: none;
  border-radius: 10px;
  font-weight: bold;
}
.inputFeild:hover{
  background-color: rgba(255, 255, 255, 0.815);
}
.mainHead{
  margin: 5%;
}
